
<div id="white_thingy">
  <div id="atlas">ATLAS</div>
  </div>
<div id="explanatory_text_container">
  <div id="explanatory_text">Explore the most popular Youtube videos by country. <br><br>Hover over a country for a snapshot of what's hot right now. Click on a country to see its most-viewed videos by genre.</div>
</div>
<div id="map-canvas">
  <div id="moon-man">
    <img src="moonguyskew.png">
  </div>
  <div id ="arrows-div" >
    <div id="left-arrow">
      <%= image_tag("arrow-left.png") %>
    </div>
    <div id="right-arrow">
      <%= image_tag("arrow-right.png") %>
    </div>
  </div>
</div>




