<div id="map-canvas">
  <div id ="arrows-div" >
    <div id="left-arrow">
      <%= image_tag("arrow-left.png") %>
    </div>
    <div id="right-arrow">
      <%= image_tag("arrow-right.png") %>
    </div>
  </div>
</div>



