<div id="map-canvas">

    <div id="white_thingy">
      <div id="white-thingy-inside">
      Atlas
      </div>
    </div>

    <div id="moon-man">
      <img src="moonguyskew.png">
    </div>

    <div id="explanatory_text_container">
       <div id="explanatory_text">Explore the most popular YouTube videos by country. <br><br><span style="font-size: 17px;"><span style="color:#D92534;font-weight: bold;">Hover over a country</span> for a snapshot of what's hot right now. <span style="color:#D92534;font-weight: bold;">Click on a country</span> to see its most-viewed videos by genre.</span></div>
    </div>
  <div id ="arrows-div" >
    <div id="left-arrow">
      <%= image_tag("arrow-left.png") %>
    </div>
    <div id="right-arrow">
      <%= image_tag("arrow-right.png") %>
    </div>
  </div>
</div>




