body {
  background: #f7f7f7;
  font-family: Helvetica;
}

a {
  color: #e74c3c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
#map-canvas {
  width: 900;
  display: inline;
}

#main-container {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}

#left-rotator {
  float: left;
  width: 30px;
  margin-top: 270px;
}

#right-rotator {
  float: right;
  width: 30px;
  margin-top: 270px;
}

#right-rotator img, #left-rotator img {
  width: 25px;
}

#right-rotator:hover, #left-rotator:hover {
  cursor: pointer;
  opacity: .8;
}

.close-me {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
}

.close-me:hover {
  cursor: pointer;
}

.stroke {
  fill: none;
  /*stroke: #000;*/
 /* stroke-width: 3px;*/
}

.fill {
  fill: #fcfcfa;
}

rect {
  fill: none;
  pointer-events: all;
}


.graticule {
  display:none;
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #f7f7f7;
}

ul.box-videos li {
  margin: 10px 0;
  font-size: 14px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  height: 40px;
}

ul.box-videos {
  list-style-type: none;
  padding-left: 5px;
}


.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.country .active {
  fill: orange;
}

.country {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .1px;
  stroke-linejoin: round;
  cursor: pointer;
}

.hidden { 
  display: none; 
}

h3 {
  margin: 5px 0;
}

.tooltip {
  color: #fff; 
  background: #000; 
  padding: 10px;
  box-shadow: 0 0 5px #ccc;
  width: 550px;
  border-radius: 4px; 
  position: absolute;
  opacity:.90;
}

rect {
  fill: none;
  pointer-events: all;
}