body {
  background: #fcfcfa;
  font-family: Helvetica;
}

.map-canvas {
  width: 900px;
}


.stroke {
  fill: none;
  /*stroke: #000;*/
 /* stroke-width: 3px;*/
}

.fill {
  fill: #fcfcfa;
}

.graticule {
  display:none;
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #f7f7f7;
}

ul.box-videos li {
  margin: 5px 0;
  font-size: 12px;
}

ul.box-videos {
  list-style-type: none;
  padding-left: 5px;
}


.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}


.country {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .1px;
  stroke-linejoin: round;
  cursor: pointer;
}

.hidden { 
  display: none; 
}

h4 {
  margin: 5px 0;
}

.tooltip {
  color: #222; 
  background: #fff; 
  padding: 10px;
  box-shadow: 0 0 5px #ccc;
  width: 220px;
  border-radius: 4px; 
  position: absolute;
  opacity:.95;
}

rect {
  fill: none;
  pointer-events: all;
}